Source: dxvk
Section: libs
Priority: optional
Maintainer: Alexandre Viau <aviau@debian.org>
Uploaders: Marc Dequènes (Duck) <Duck@DuckCorp.org>
Build-Depends: debhelper-compat (= 13),
               glslang-tools,
               meson,
               ninja-build,
               libvulkan-dev,
               spirv-headers,
               gcc-mingw-w64-x86-64-posix [amd64 arm64],
               gcc-mingw-w64-i686-posix [i386 armel armhf],
               g++-mingw-w64-x86-64-posix [amd64 arm64],
               g++-mingw-w64-i686-posix [i386 armel armhf],
               rename,
               llvm,
Standards-Version: 4.6.2
Homepage: https://github.com/doitsujin/dxvk
Vcs-Browser: https://salsa.debian.org/aviau/dxvk
Vcs-Git: https://salsa.debian.org/aviau/dxvk.git
Rules-Requires-Root: no

Package: dxvk
Section: utils
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends},
         ${misc:Depends},
         dxvk-wine64-development (>= ${source:Version}) | dxvk-wine32-development (>= ${source:Version}),
Recommends: dxvk-wine32-development,
            dxvk-wine64-development,
Description: Vulkan-based translation layer for Direct3D 9/10/11
 DXVK is a Vulkan-based translation layer for Direct3D 9/10/11 which
 allows running 3D applications on Linux using Wine.
 .
 DXVK aims to provide support for D3D11, feature level 11_1, and
 D3D10, feature level 10_1.
 .
 This package contains the dxvk-setup script that configures
 or removes DXVK from a Wine prefix.

Package: dxvk-wine32-development
Architecture: i386 armel armhf
Multi-Arch: foreign
Recommends: dxvk
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Vulkan-based translation layer for Direct3D 9/10/11 - wine32 build
 DXVK is a Vulkan-based translation layer for Direct3D 9/10/11 which
 allows running 3D applications on Linux using Wine.
 .
 DXVK aims to provide support for D3D11, feature level 11_1, and
 D3D10, feature level 10_1.
 .
 This package contains the wine32-development build.

Package: dxvk-wine64-development
Architecture: amd64 arm64
Multi-Arch: foreign
Recommends: dxvk
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Vulkan-based translation layer for Direct3D 9/10/11 - wine64 build
 DXVK is a Vulkan-based translation layer for Direct3D 9/10/11 which
 allows running 3D applications on Linux using Wine.
 .
 DXVK aims to provide support for D3D11, feature level 11_1, and
 D3D10, feature level 10_1.
 .
 This package contains the wine64-development build.

